<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ProvinceMapper">

    <select id="selectAll" resultType="Province" parameterType="String">
        select count(u.id) value,u.province name from (select id,province,sex from user where sex = #{sex}) u group by u.province
    </select>
</mapper>